body{
    border: 2px solid blue;
    border-radius: 2px;
    width: 400px;
    height: 300px;
    margin: auto;
}

form{
    padding: 10px;
}

input[type=text]{
    border: 2px solid blue;
    border-radius: 2px;
    display: block;
    float: left;
    margin-right: auto;
    margin-bottom: 5px;
}

input[type=number]{
    border: 2px solid blue;
    border-radius: 2px;
    display: block;
    float: left;
    margin-right: auto;
    margin-bottom: 5px;
}

label{
    float: left;
    width: 10em;
    margin-right: 2em;
}


input[type=submit]{
    margin: auto;
    border: 2px solid blue;
    border-radius: 2px;
    display: block;
}



